solutions/fivesassessment/Workflows/5SPopulateChecklistsfornewAssessment-0C5F0CB0-D651-EC11-8C62-000D3A59ADAD.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ur_sharedcommondataserviceforapps_79487"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_assessment_record_is_created": {
          "metadata": {
            "operationMetadataId": "0d4c6a76-2d1e-4f52-a546-53f998835ee7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "ur_fivesassessment",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "0c5f0cb0-d651-ec11-8c62-000d3a59adad"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_category_records": {
          "runAfter": {
            "Get_assessment_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb0de989-148b-41ea-a577-74137ecb4000"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "ur_fivescategories",
              "$filter": "_ur_assessmenttype_value eq @{triggerOutputs()?['body/_ur_assessmenttype_value']}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_category": {
          "foreach": "@outputs('List_category_records')?['body/value']",
          "actions": {
            "Create_a_new_checklist_record": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "6c835441-f5fb-419e-8fa2-b7d8294f045b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord"
                },
                "parameters": {
                  "entityName": "ur_fiveschecklists",
                  "item/ur_fivesassessment@odata.bind": "@outputs('Get_assessment_record')?['body/@odata.id']",
                  "item/ur_fivescategory@odata.bind": "@items('Apply_to_each_category')?['@odata.id']",
                  "item/ur_level1iscompleted": false,
                  "item/ur_level2iscompleted": false,
                  "item/ur_level3iscompleted": false,
                  "item/ur_level4iscompleted": false,
                  "item/ur_level5iscompleted": false,
                  "item/ur_name": "Checklist - @{items('Apply_to_each_category')?['ur_name']}",
                  "item/statuscode": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_category_records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c7512ff1-8115-4f94-a0ee-8e2ae6ce182d"
          },
          "type": "Foreach"
        },
        "Get_assessment_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "044d9348-2c41-4017-9b51-fea34adee587"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "parameters": {
              "entityName": "ur_fivesassessments",
              "recordId": "@triggerOutputs()?['body/ur_fivesassessmentid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}